LOG_DIRECTORY=./logs
ENVIRONMENT=development
PORT=8000
KEEP_LOGS_FOR=90d
KEEP_LOGS_IN_PROD=true
LOG_LEVEL=debug
DATE_PATERNS=YYYY-MM-DD
DATE_FORMAT=YYYY-MM-DD HH:mm:ss
UNIX_FORMAT=true
LOG_TO_FILE=true
LOG_TO_CONSOLE=true
DATABASE_URL="******************"
REMEMBER_IP_MINUTES=5
NUMBER_REQUEST_PER_IP=80
DOC_ENABLE=true
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost,http://example.com,https://api.example.com
